body{
    background-image: url('https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.card a{
    text-decoration: none;
    color: #3f3f44;
}

h1{
    text-align: center;
    padding: 20px 0;
    font-size: 5rem;
    color: #3f3f44;
    font-weight: 700;
}
.card{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-title{
    font-size: 2rem;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 4px;
}

.card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.stepImg{
    max-height: 250px;
    max-width: 200px;
    margin: 0.5rem 1rem;
}
#recipe_name {
    background-image: url('/Contents/recipe_template.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darkgray;
    background-blend-mode: darken;
  
}
.instr-bg{
    background-color: transparent;
   
}
.instrcont {
    border-radius: 10px;
    background-color: rgba(245,245,245,0.85);
}
.instr-bg p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400;
    
}
.social-icon{
    width: 40px;
}
.social{
    background-color: rgba(200,200,200,0.85);
    
}
.cooklogo{
    width: 80px;
    
}
.rezept{
    font-size:1.4em;
}
.instr-vid{
    width:450px;
    height:450px;
}